@model alquilautos.Models.Usuarios

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usuarios</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoDoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoDoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.documento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.documento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idNombres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idNombres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idTelefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idDireccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idDireccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
