@model alquilautos.Models.Vehiculos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehiculos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Placa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.creacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.creacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idMarca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idMarca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idConductor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idConductor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idPropietario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idPropietario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idTenedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idTenedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vencimientoSoat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vencimientoSoat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoVehiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoVehiculo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
